@import url('https://fonts.googleapis.com/css?family=Barrio|Overpass');
html,
body {
  color: #3f3f3f;
  font-family: 'Overpass', sans-serif;
  background-color: #f2f2f2;
  padding: 0;
  margin: 0;
}
div.title {
  background-color: #2f2f2f;
  margin: 0;
}
div.title h1 {
  font-family: 'Barrio', cursive;
  margin: 0;
  padding: 15px;
  text-align: center;
  color: #fafafa;
  font-size: 100px;
}
div.box {
  width: 70%;
  max-width: 1000px;
  background-color: white;
  margin: auto;
  margin-top: 20px;
  left: 0;
  right: 0;
  border-bottom: 1px solid #e6e6e6;
}
div.box div.title {
  background-color: white;
  padding: 10px;
  border-bottom: 2px solid #efefef;
}
div.box div.title h1 {
  font-family: 'Overpass', sans-serif;
  margin: 0;
  padding: 0;
  color: #3f3f3f;
  font-size: 20px;
}
div.box div.content {
  padding: 40px;
}
div.box label {
  display: inline-block;
  width: 200px;
}
div.box input[type=text],
div.box select {
  width: 50%;
  float: right;
  outline: none;
}
div.box span.no-matches {
  display: block;
  font-size: 50px;
  color: rgba(0, 0, 0, 0.2);
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}
div.footer {
  color: #7c7c7c;
  text-align: center;
  background-color: #2f2f2f;
  padding: 5px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
ul#output {
  font-family: monospace;
}
